body, html {
	padding: 0;
	margin: 0;
	background-color: #D3E9E9;
}

h1 {
	margin-top: 5%;
	margin-bottom: 5%;
	font-family: Helvetica, sans-serif;
	font-weight: bolder;
	letter-spacing: -3px;
	font-size: 400%;
	text-align: center;
}

p {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #F36F6D;
	text-align: center;
}

form {
	text-align: center;
}

input {
	font-size: 200%;
	padding: 1%;
	text-align: center;
	background-color: transparent;
	border: 1px solid #000;
}

input::placeholder {
	color: #000;
}

button {
	background-color: transparent;
	font-size: 200%;
	color: #000;
	border: 1px solid #000;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	cursor: pointer;
}

#todo-table {
	margin-top: 10%;
}

ul {
	margin-left: 30%;
	list-style: none;
	text-align: left;
	font-family: Helvetica, sans-serif;
	color: #333;
	font-size: 300%;
	cursor: pointer;
}

li {
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-ms-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

li:hover {
	color: #F36F6D;
}